#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

main.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 0.5rem;
}

.app h1 {
  flex-grow: 0;
  flex-shrink: 0;
}

.route {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.chat .chat-form {
  flex-grow: 0;
  flex-shrink: 0;
}

.chat .chat-output {
  flex-grow: 3;
}
